<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand" href="/">
      <img src="/ico/favicon.ico" alt="" width="32" height="32" class="d-inline-block align-text-top">
      Monitoreo de Portones - PIAS
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> item </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li> <a class="dropdown-item" href="/">item</a> </li>
            <li> <a class="dropdown-item" href="/">item</a> </li>
          </ul>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/mqttTest?deveui=0000000000000001&deveswitch=1">DT Open</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/mqttTest?deveui=0000000000000001&deveswitch=0">DT Close</a>
        </li>

      </ul>
    </div>
  </div>
</nav>